.container {
    /* display: flex; */
    align-items: center;
    margin-top: 10%;
}

.user-image {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-image img {
    width: 100%;
}

@media (min-width: 426px) {
    .user-image img {
        width: 500px;
    }
}

.canvas-fixed-size {
    height: 100%;
}

span {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}

p {
    font-size: 20px;
    letter-spacing: 2px;
}

canvas {
    height: 100vh;
    width: 100vw;
}