.skill-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 10px solid gray; */
    border-radius: 10px;
    overflow: hidden;
}

h2 {
    font-size: 50px;
    font-weight: 700;
}

.skill-name {
    display: flex;
    flex-direction: row;
    /* height: 300px; */
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    width: 100%;
    -ms-overflow-style: auto;
    scrollbar-width: none;
}

.skill-name::-webkit-scrollbar {
    display: none; 
}

.skill-name-type {
    height: 200px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-shrink: 0;
    box-shadow: 0 10px 20px rgb(112, 112, 112);
    transition: box-shadow 0.3s ease;
}

.skill-name-type > img {
    height: auto;
    width: 100px;
}