* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: black;
  color: azure;
  -ms-overflow-style: auto;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}